---
layout: default
blog: active
---

<div class="posts">
		<div class="post single">
			<h1 class="title">{{ page.title }}</h1>

			<h2 class="date"><info datetime="{{ page.date }}">
				{{ page.date | date_to_string }} {% if page.author %} by {{ page.author }} {% endif %}
			</info></h2>
			<!-- Post content -->
			<div class="postbody">
				{{ content }}
			</div>
			<!-- Post info -->
			<div class="postinfo">
			<!-- include some categories and tags maybe? -->
			</div>

			<hr>

		</div><!-- / .post .single -->
</div><!-- /.posts -->

 {% if page.comments %}
<div id="disqus_thread"></div>
<script>
	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

	var disqus_config = function () {
		// this.page.url = "{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};

	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://nickebbitt-github-io.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
